@model OrderViewModel
@{
    ViewData["Title"] = "Оформление заказа";  
}

<div class="text-center text-uppercase text-success mb-5 mt-5">
    <h2 class="row-title">Оформление заказа</h2>
</div>

@if (Model.Order != null && Model.Order.Items.Count > 0)
{
    <div class="row justify-content-center mt-3">
        <div class="col">
            <form method="post" asp-action="Buy" asp-controller="Order">
                <div asp-validation-summary="All" class="alert alert-danger"></div>
                <table class="table table-borderless">
                    <thead>
                        <tr align="center">
                            <th><h2>Информация о покупателе</h2></th>
                            <th><h2>Информация о заказе</h2></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="w-50 p-4">
                                <div class="mb-3">
                                    <label asp-for="InputModel.CustomerName" class="form-label">Имя</label>
                                    <input asp-for="InputModel.CustomerName" class="form-control" />
                                    <span asp-validation-for="InputModel.CustomerName" class="text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="InputModel.Address" class="form-label">Адрес доставки</label>
                                    <input asp-for="InputModel.Address" class="form-control" />
                                    <span asp-validation-for="InputModel.Address" class="text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="InputModel.Phone" class="form-label">Телефон</label>
                                    <input asp-for="InputModel.Phone" type="tel" class="form-control" />
                                    <span asp-validation-for="InputModel.Phone" class="text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="InputModel.DeliveryDate" class="form-label">Дата доставки</label>
                                    <input asp-for="InputModel.DeliveryDate" type="date" class="form-control"
                                           min="@DateOnly.FromDateTime(DateTime.Now).ToString("yyyy-MM-dd")" />
                                    <span asp-validation-for="InputModel.DeliveryDate" class="text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="InputModel.Comment" class="form-label">Комментарий</label>
                                    <textarea asp-for="InputModel.Comment" class="form-control"></textarea>
                                    <span asp-validation-for="InputModel.Comment" class="text-danger"></span>
                                </div>
                            </td>

                            <td class="w-50 p-4">
                                <table class="table table-responsive table-striped table-hover mb-5 caption-top">
                                    <thead>
                                        <tr align="center">
                                            <th scope="col">#</th>
                                            <th scope="col">Наименование товара</th>
                                            <th scope="col">Цена, руб.</th>
                                            <th scope="col">Количество, шт.</th>
                                            <th scope="col">Стоимость, руб.</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (var i = 0; i < Model.Order.Items.Count; i++)
                                        {
                                            <tr align="center" class="align-baseline">
                                                <td class="fw-bold">@(i + 1)</td>
                                                <td align="left">@Model.Order.Items[i].Product.Name</td>
                                                <td align="left">@Model.Order.Items[i].Product.Cost.ToString("C")</td>
                                                <td>@Model.Order.Items[i].Quantity</td>
                                                <td class="fw-bold">@Model.Order.Items[i].Cost.ToString("C")</td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot class="table-borderless">
                                        <tr align="center">
                                            <th colspan="5">
                                                Общая стоимость заказа: @Model.Order.TotalCost.ToString("C")
                                            </th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="text-center">
                    <button type="submit" class="btn btn-outline-danger">
                        Оплатить заказ
                    </button>
                </div>
            </form>
        </div>
    </div>
}
else
{
    <div class="text-center">
        <h2 class="row-title">Нет заказа для оформления!</h2>
    </div>
}

<div class="text-center m-5">
    <a class="btn btn-outline-success" asp-controller="Home" asp-action="Index">
        Продолжить покупки
    </a>
</div>