@model List<OnlineShop.Db.Models.Role>
@{
    ViewData["Title"] = "Роли";
}

<div class="row mt-3">
    @await Html.PartialAsync("AdminMenu")
    <div class="col-9 mb-3">
        <div class="text-center text-uppercase text-success mb-5 mt-5">
            <h2 class="row-title">Роли</h2>
        </div>

        @if (Model != null && Model.Count > 0)
        {
            <div class="row justify-content-center mt-3">
                <div class="col-12">
                    <div class="text-end">
                        <a class="btn btn-outline-success mb-2 mt-2"
                           asp-controller="Roles"
                           asp-action="Add">
                            Добавить новую роль
                        </a>
                    </div>
                    <table class="table table-responsive table-striped table-hover mb-5">
                        <thead>
                            <tr align="center">
                                <th scope="col">#</th>
                                <th scope="col">Наименование роли</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (var i = 0; i < Model.Count; i++)
                            {
                                <tr align="center" class="align-baseline">
                                    <td class="fw-bold">@(i + 1)</td>
                                    <td align="left">
                                        <h5>@Model[i].Name</h5>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#deleteRoleModal_@Model[i].Id">
                                            Удалить
                                        </button>
                                        <div class="modal fade" id="deleteRoleModal_@Model[i].Id" tabindex="-1" aria-labelledby="deleteRoleModalLabel_@Model[i].Id" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="deleteRoleModalLabel_@Model[i].Id">Удаление роли</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Вы действительно хотите удалить роль "<strong>@Model[i].Name</strong>"?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <form method="post" asp-area="Admin" asp-controller="Roles" asp-action="Delete" asp-route-roleId="@Model[i].Id">
                                                            <button type="submit" class="btn btn-outline-danger">Удалить</button>
                                                        </form>
                                                        <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Отмена</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr align="center">
                                <th colspan="2"></th>
                                <th colspan="1">
                                    Общее количество ролей: @Model.Count
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        }
        else
        {
            <div class="text-center">
                <h2 class="row-title">В хранилище нет ролей!</h2>
            </div>
            <div class="text-center mt-5">
                <a class="btn btn-outline-success mb-2 mt-2"
                   asp-controller="Roles"
                   asp-action="Add">
                    Добавить новую роль
                </a>
            </div>
        }

    </div>
</div>